/.vscode
/server/node_modules
/client/node_modules
/client/dist
/client/dist-ssr
/client/.gitignore
/client/.eslintrc.cjs
/server/.env
# Local Netlify folder
/client/.prettierrc.json
# Local Netlify folder
.netlify
